<html> <!--

  You can see the rendered version of this character sheet here:
  https://natejohnston.info/kyoob/

<%
$revision = '0.5.5'
$class_level = {
  "Warlock" => 3,
}
$str = 10
$dex = 13
$con = 12
$int = 15
$wis = 10
$cha = 15
$name = "Kyoob"

$background = "Spy"
$race = "Juiblexian"
$subrace = "Mimic"

# Hit point roll history: 8 + 8 + 5
$hitpoints = "21"

$alignment = "Chaotic Good"
$armor_bonus = 3
$shield_bonus = 0
$languages = "Common, Abyssal, Celestial"

$skill_proficiencies = {
  "Arcana" => "class(Warlock)",
  "Religion" => "class(Warlock)",
  "Deception" => "background(Spy)",
  "Stealth" => "background(Spy)",
  "Survival" => "Mnemonic Echoes"
}
$saving_throw_proficiencies = [ "WIS", "CHA" ]

# Inventory fields are cost in gp, weight in pounds, and (optionally) quantity.
# Weight is per-item.  Weights of zero wll be displayed as "-".
$inventory = {
  "Raziel's Grimoire" => [0, 5],
  "Backpack" => [2, 5],
  "Quarterstaff" => [0.2, 4],
  "Shortbow" => [25, 2],
  "Dagger" => [2, 1, 4],
  "Arrows (20)" => [1, 1, 2],
  "Scroll case" => [1, 1],
  "Chain" => [5, 10],
  "Lock" => [10, 1],
  "Clothes (common)" => [0.5, 3, 2],
  "Clothes (fine)" => [15, 6],
  "Clothes (traveler's)" => [2, 4, 2],
  "Component pouch" => [25, 2],
  "Manacles" => [2, 6],
  "Quiver" => [1, 1],
  "Waterskin" => [0.2, 5],
  "Chalk" => [0.01, 0, 5],
}

# Calculate aggregate level for level-based upgrades
$level = 0
$class_level.keys.each do |class_name|
  $level += $class_level[class_name] 
end
$cha = 16 if $level >= 4  # Haunting Mimicry
$con = 13 if $level >= 8  # Morphic Body

%>

Based on: $Id: ucalegon.html,v 2.16 2003/05/14 18:07:53 natej Exp $

Character ideas:
  - Warlock
    - invocations
      - mage armor at will
      - Book of Ancient Secrets: pick 2 1st level rituals to know
        - identify
        - find familiar
          - familiar: owl

Feats:
  - haunting mimicry
  - morphic body
  - war caster
  - alert: +5 initiative, cannot be surprised, others dont get advantage on attacks from being hidden from me

<%
#============================================================================================#
# You should not have to modify anything below here

$multiclass = $class_level.length > 1 ? true : false
$proficiency = [-100, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6]
$stat_hash = {
  "STR" => $str,
  "DEX" => $dex,
  "CON" => $con,
  "INT" => $int,
  "WIS" => $wis,
  "CHA" => $cha
}
$bonus_array = [-100, -5, -4, -4, -3, -3, -2, -2, -1, -1, 0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10]
$levelxp = [-100, 0, 300, 900, 2700, 6500, 14000, 23000, 34000, 48000, 64000, 85000, 100000, 120000, 140000, 165000, 195000, 225000, 265000, 305000, 355000, "infinite"]
$armorclass = 10 + $bonus_array[$dex] + $armor_bonus + $shield_bonus

$progressive_die = 1
$progressive_die = 2 if $level >= 5 
$progressive_die = 3 if $level >= 11 
$progressive_die = 4 if $level >= 17 

$cleric_spells = [
  [],
  [3, 2, 0, 0, 0, 0, 0, 0, 0, 0], # level 1
  [3, 3, 0, 0, 0, 0, 0, 0, 0, 0],
  [3, 4, 2, 0, 0, 0, 0, 0, 0, 0],
  [4, 4, 3, 0, 0, 0, 0, 0, 0, 0],
  [4, 4, 3, 2, 0, 0, 0, 0, 0, 0], # level 5
  [4, 4, 3, 3, 0, 0, 0, 0, 0, 0],
  [4, 4, 3, 3, 1, 0, 0, 0, 0, 0],
  [4, 4, 3, 3, 2, 0, 0, 0, 0, 0],
  [4, 4, 3, 3, 3, 1, 0, 0, 0, 0],
  [5, 4, 3, 3, 3, 2, 0, 0, 0, 0], # level 10
  [5, 4, 3, 3, 3, 2, 1, 0, 0, 0],
  [5, 4, 3, 3, 3, 2, 1, 0, 0, 0],
  [5, 4, 3, 3, 3, 2, 1, 1, 0, 0],
  [5, 4, 3, 3, 3, 2, 1, 1, 0, 0],
  [5, 4, 3, 3, 3, 2, 1, 1, 1, 0], # level 15
  [5, 4, 3, 3, 3, 2, 1, 1, 1, 0],
  [5, 4, 3, 3, 3, 2, 1, 1, 1, 1],
  [5, 4, 3, 3, 3, 3, 1, 1, 1, 1],
  [5, 4, 3, 3, 3, 3, 2, 1, 1, 1],
  [5, 4, 3, 3, 3, 3, 2, 2, 1, 1]  # level 20
]

$warlock_spells = [
  [],
  [2, 1, 0, 0, 0, 0, 0, 0, 0, 0], # level 1
  [2, 2, 0, 0, 0, 0, 0, 0, 0, 0],
  [2, 0, 2, 0, 0, 0, 0, 0, 0, 0],
  [3, 0, 2, 0, 0, 0, 0, 0, 0, 0],
  [3, 0, 0, 2, 0, 0, 0, 0, 0, 0], # level 5
  [3, 0, 0, 2, 0, 0, 0, 0, 0, 0],
  [3, 0, 0, 0, 2, 0, 0, 0, 0, 0],
  [3, 0, 0, 0, 2, 0, 0, 0, 0, 0],
  [3, 0, 0, 0, 0, 2, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 2, 0, 0, 0, 0], # level 10
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0], # level 15
  [4, 0, 0, 0, 0, 3, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 4, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 4, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 4, 0, 0, 0, 0],
  [4, 0, 0, 0, 0, 4, 0, 0, 0, 0]  # level 20
]
$warlock_invocations = [-100, 0, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8]
$warlock_spells_known = [-100, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 11, 12, 12, 13, 13, 14, 14, 15, 15]
$warlock_cantrips_known = [-100, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]
$warlock_max_spell_level = [-100, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]
$warlock_slots = [-100, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4]

$skills = {
  "Acrobatics" => "DEX",
  "Animal Handling" => "WIS",
  "Arcana" => "INT",
  "Athletics" => "STR",
  "Deception" => "CHA",
  "History" => "INT",
  "Insight" => "WIS",
  "Intimidation" => "CHA",
  "Investigation" => "INT",
  "Medicine" => "WIS",
  "Nature" => "INT",
  "Perception" => "WIS",
  "Performance" => "CHA",
  "Religion" => "INT",
  "Sleight of Hand" => "DEX",
  "Stealth" => "DEX",
  "Survival" => "WIS"
}

%>
-->
<head>
<title>Character Sheet: <%= $name %></title>
<link rel="stylesheet" href="https://natejohnston.info/dnd/newstyle.css" type="text/css">
</head>

<body text=000000>
<div id=newblock>
<div id=borderblock>&nbsp;</div>

<div id=quickblock>
<div id=quickcolumn>

<font id=name> <%= $name %> </font><br>
<i>Medium Ooze, <%= $alignment %></i>
<p>
<hr>
<b>Armor Class</b>: <%= $armorclass %><br>
<b>Hit Points</b>: <%= $hitpoints %><br>
<b>Speed</b>: 30 feet
<p>
<hr>

<center>
<table id=statblock> <tr>
<td><b>STR</b></td>
<td>&nbsp;</td>
<td><b>DEX</b></td>
<td>&nbsp;</td>
<td><b>CON</b></td>
<td>&nbsp;</td>
<td><b>INT</b></td>
<td>&nbsp;</td>
<td><b>WIS</b></td>
<td>&nbsp;</td>
<td><b>CHA</b></td>
</tr><tr>
<td><%= $str %></td>
<td>&nbsp;</td>
<td><%= $dex %></td>
<td>&nbsp;</td>
<td><%= $con %></td>
<td>&nbsp;</td>
<td><%= $int %></td>
<td>&nbsp;</td>
<td><%= $wis %></td>
<td>&nbsp;</td>
<td><%= $cha %></td>
</tr></table>
</center>
<p>
<hr>
<b>Condition Immunities</b>: Poison, Sleep, Exhaustion<br>
<b>Condition Advantages</b>: Advantage on saving throws against blinded, deafened, knocked prone.<br>
<b>Senses</b>: Blindsight 60'<br>
<b>Languages</b>: <%= $languages %><br>
<b>Level</b>: <%= $level %>
<p>
<hr>
<b>Healing Light</b>: At 1st level, you gain the ability to channel celestial energy to heal wounds. You have a pool of d6s that you spend to fuel this healing. The number of dice in the pool equals 1 + your warlock level. As a bonus action, you can heal one creature you can see within 60' of you, spending dice from the pool. The maximum number of dice you can spend at once equals your Charisma modifier (minimum 1). Roll the dice you spend, add them together, and restore a number of hit points equal to the total. Your pool regains all dice when you finish a long rest.<p>
<b>Amorphous Ooze</b>: You can move through a space as narrow as 1 inch wide without squeezing.  You can return to your natural ooze form as an action, or other gelatinous forms as well.<p>

</div>
<div id=quickcolumn>

<img src="https://natejohnston.info/kyoob/gelatinous_cube2.jpg" width=200 style="float: right; border: 1px;">

<b>Mimic</b>: As an action, you can transform your appearance. You decide what you look like, including your height, weight, facial features, the sound of your voice, coloration, hair length, sex, and any other distinguishing characteristics. You can make yourself appear as a member of another race, although none of your game statistics change. You also can't appear as a creature a different size than you, and your basic shape stays the same: if you're bipedal, you can't use this trait to become quadrupedal, for instance. Your clothing and other equipment don't change in appearance, size, or shape to match your new form, requiring you to keep a few extra outfits on hand to make the most compelling disguise possible.  Even to most observers, the ruse is usually indiscernable. If you arouse suspicion, or if a wary creature suspects something is amiss, you have advantage on any Charisma (Deception) check you make to avoid detection.  You can also assume the appearance of any creature you have consumed through your Mnemonic Echoes feature. You can remember a number of appearances equal to your Intelligence modifier (<%= $bonus_array[$int] %>).<p>
<b>Mnemonic Echoes</b>: The myriad of dissonant voices echoes within your being, granting you knowledge not your own. You gain skill proficiecy of your choice, one tool proficiency of your choice, and fluency in one language of your choice. Whenever a humanoid creature dies within 5 feet of you, you can spend your reaction to consume the target. Once consumed, after your next long rest, you may change either your skill proficiency, tool proficiency, or language fluency to one of the proficiencies or languages of the creature.<p>
<b>Warlock</b>: You are a Warlock, with a sacred pact with the angel Raziel.  You are his agent in the world, fighting darkness and evil.<p>
<% if $level >= 4 %>
<u>Haunting Mimicry</u>: When you assume a form of a consumed humanoid, you also devour their thoughts and memories. You gain the following benefits: <ul><li>Increase your Intelligence or Charisma score by 1, to a maximum 20. <li>Whenever you assume an appearance of a creature consumed by your Mnemonic Echoes feature, you gain access to all information that the humanoid would freely share with a casual acquaintance. Such information includes general details on its background and personal life but doesn't include secrets. The information is enough that you can pass yourself off as the person by drawing on its memories. <li>Your uncanny portrayal of the Mnemonic Echoes strikes fear to even those who knew them in life. If you speak to a humanoid for at least 1 minute, you can attempt to spark paranoia in their mind. At the end of the conversation, you make a Charisma (Deception) check contested against the target's Wisdom (Insight) check. On a success, the target is frightened of you for 1 hour, unless it is attacked or damaged, or until it witnesses its allies being attacked or damaged. If the target succeeds on its saving throw, the target has no hint that you tried to frighten it. Once you use this ability, you can't do so again until after you finish a short or long rest.</ul><p>
<% end %>
<% if $level >= 8 %>
<u>Morphic Body</u>: You do not possess the normal anatomy of a solid being, allowing you to shift or move vital organs out of harm's way. You gain the following benefits: Increase your Constitution score by 1, to a maximum of 20. Whenever you are hit by an attack that is a critical hit, you can use your reaction to turn the triggering attack to a normal hit.
<% end %>

</div>
</div>

<p>
<div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="main"></a>

<div id=newblock>
<div id=borderblock>&nbsp;</div>

<div>
    <table width=100%><tr>
    <td width=60%><font id=name> <%= $name %> </font><br> <i>Revision: <%= $revision %></i></td>
    <td width=40% align=right>
      <table border=0 padding=5><tr>
        <td>
        <% $class_level.keys.each do |class_name| %>
          <%= class_name %> (<%= $class_level[class_name] %>)
        <% end %>
        </td>
        <td>&nbsp;</td>
        <td><%= $background %></td>
        <td>&nbsp;</td>
        <td>Nate Johnston</td>
      </tr><tr>
        <td class=topline10>Class/Level</td>
        <td>&nbsp;</td>
        <td class=topline10>Background</td>
        <td>&nbsp;</td>
        <td class=topline10>Player Name</td>
      </tr><tr>
        <td><%= $race %> (<%= $subrace %>)</td>
        <td>&nbsp;</td>
        <td><%= $alignment %></td>
        <td>&nbsp;</td>
        <td><%= $levelxp[$level] %></td>
      </tr><tr>
        <td class=topline10>Race</td>
        <td>&nbsp;</td>
        <td class=topline10>Alignment</td>
        <td>&nbsp;</td>
        <td class=topline10>XP</td>
      </tr></table>
    </td></tr></table>
</div>

<hr>

<!--
<table border=1 width=100% padding=3px> <tr> <td width=33% valign=top>
-->
<div id=wrapperdiv>
  <!-- column one -->
    <div id=blockdiv>
      <table id=column3> <tr>
        <td colspan="10" class="hp" align="center">SKILLS</td>
      </tr> <tr><td>
        <table id=skills> </tr>
            <td class="border4" width="40%">SKILL NAME</td>
            <td class="border4" width="5%">ABILITY</td>
            <td class="border4" width="15%" colspan="1">TOTAL<br>BONUS</td>
            <td class="border4" width="15%" colspan="2">ABILITY<br>MODIFIER</td>
            <td class="border4" width="15%" colspan="2">PROFICIENCY<br>BONUS</td>
            <td class="border4" width="15%" colspan="2">MISC<br>BONUS</td>
        <%
          $skills.keys.each do |skill| 
            skillstat = $skills[skill]
            skillbonus = $bonus_array[$stat_hash[skillstat]]
            is_proficient = $skill_proficiencies.keys.include?(skill)
            prof_bonus = is_proficient ? $proficiency[$level] : 0
            total_bonus = skillbonus + prof_bonus
            skill_string = is_proficient ? "<u>#{skill}</u>" : "#{skill}"
        %>
        </tr> <tr>
            <td class="font8l" width="40%"><%= skill_string %></td>
            <td class="font8l" width="5%"><%= skillstat %></td>
            <td class="font8bot" width="15%"><%= total_bonus %></td>
            <td class="font8b" width="2%">=</td>
            <td class="font8b" width="13%"><%= skillbonus %></td>
            <td class="font8b" width="2%">+</td>
            <td class="font8b" width="13%"><%= prof_bonus %></td>
            <td class="font8b" width="2%">+</td>
            <td class="font8b" width="13%" nowrap>0</td>
        <% end %>
        </tr> <tr>
        <td colspan="10"><br></td>
        </tr> <tr>
            <td colspan="10" class="skills">
            <b><u>Skill Proficiencies</u></b>
            <ul>
            <%
            $skill_proficiencies.keys.sort.each do |proficiency|
              stat = $skills[proficiency]
              proficiency_string = "<li><b>#{proficiency}</b> (#{stat}) from #{$skill_proficiencies[proficiency]}</li>"
            %>
              <%= proficiency_string %>
            <% end %>
            </ul><p>
            <b><u>Other Proficiencies</u></b>
            <ul>
                <li>Languages: <%= $languages %></li>
                <li>Tool proficiency: Gaming, Thieves Tools</li>
            </ul>
            </td>
        </tr> </table>
      <td></tr> </table>
    </div>


    <!--
    </td><td width=33% valign=top align=center>
    -->
    <div id=blockdiv>
      <!-- column two -->
      <table id=column3> <tr>
          <td colspan="6" class="hp" align="center">STATS &amp; BASICS</td>
      </tr> <tr>
          <td class="ah">STAT</td>
          <td class="ah" width=3vw>ABILITY<br>SCORE</td>
          <td class="ah" width=3vw>ABILITY<br>MODIFIER</td>
          <td class="ah" width=4vw>&nbsp;</td>
          <td class="ah">SAVING THROWS</td>
          <td class="ah" width="3vw">TOTAL</td>
      
      <% 
        $stat_hash.keys.each do |stat| 
          stat_string = $saving_throw_proficiencies.include?(stat) ? "<u>#{stat}</u>" : "#{stat}"
          statbonus = $bonus_array[$stat_hash[stat]]
          prof_bonus = $saving_throw_proficiencies.include?(stat) ? $proficiency[$level] : 0
          total_bonus = statbonus + prof_bonus
      %>
      </tr> <tr>
          <td class="ab" width=1vw><%= stat_string %></td>
          <td class="abb"><%= $stat_hash[stat] %></td>
          <td class="abb"><%= statbonus %></td>
          <td>&nbsp;</td>
          <td class="ab" width=1vw><%= stat_string %></td>
          <td class="abb"><%= total_bonus %></td>
      <% end %>
      </tr><tr><td colspan=2 height=2vw><p></td>
      </tr> </table>

      <table id=column3> <tr> <td>
        <table> <tr>
          <td class="hp">AC<br><font style="font-size:5pt">Mage Armor</td>
          <td class="border9b"><%= $armorclass %></td>
          <td class="font7b">=</td>
          <td class="border9b" style="border: 0px solid black">10</td>
          <td class="font7b">+</td>
          <td class="border9b"><%= $armor_bonus %></td>
          <td class="font7b">+</td>
          <td class="border9b"><%= $bonus_array[$dex] %></td>
          <td class="font7b">+</td>
          <td class="border9b"><%= $shield_bonus %></td>
        </tr> <tr>
          <td class="hp">AC<br><font style="font-size:5pt">Flatfooted</td>
          <td class="border9b"><%= 10 + $bonus_array[$dex] + $shield_bonus %></td>
          <td class="font7b">=</td>
          <td class="border9b" style="border: 0px solid black">10</td>
          <td class="font7b">+</td>
          <td class="border9b">0</td>
          <td class="font7b">+</td>
          <td class="border9b"><%= $bonus_array[$dex] %></td>
          <td class="font7b">+</td>
          <td class="border9b"><%= $shield_bonus %></td>
        </tr> <tr>
          <td width="50"></td>
          <td class="mini6" width="25">TOTAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="ah" width="25">ARMOR<br>BONUS</td>
          <td></td>
          <td class="ah" width="25">DEX<br>BONUS</td>
          <td></td>
          <td class="ah" width="25">SHIELD<br>BONUS</td>
        </tr></table>
      </td></tr><tr><td>
        <table><tr>
          <td class="hp">HP<br><font style="font-weight:normal; font-size:5pt">Hit Points</font></td>
          <td class="border9c" width=5vw height=5vh align=left valign=top><b><u><%= $hitpoints %></u></b></td>
        </tr><tr>
          <td class="hp">Death<br>Saves</td>
          <td>
            <table><tr>
              <td>Successes</td>
              <td class=abb width=2vw>&nbsp;&nbsp;&nbsp;</td>
              <td class=abb width=2vw>&nbsp;&nbsp;&nbsp;</td>
              <td class=abb width=2vw>&nbsp;&nbsp;&nbsp;</td>
            </tr><tr>
              <td>Failures</td>
              <td class=abb>&nbsp;&nbsp;&nbsp;</td>
              <td class=abb>&nbsp;&nbsp;&nbsp;</td>
              <td class=abb>&nbsp;&nbsp;&nbsp;</td>
            </tr></table>
          </td>
        </tr></table>
      </td></tr><tr><td>
        <table> <tr>
          <td class="hp">INITIATIVE<font style="font-size:5pt"><br>Modifier</td>
          <td class="border10b"><%= $bonus_array[$dex] %></td>
          <td class="font7b">=</td>
          <td class="border10b"><%= $bonus_array[$dex] %></td>
          <td class="font7b">+</td>
          <td class="border10b">0</td>
        </tr> <tr>
          <td></td>
          <td class="font4" width="25">TOTAL</td>
          <td></td>
          <td class="font4" width="25">DEX<br>MODIFIER</font></td>
          <td></td>
          <td class="font4" width="25">MISC<br>MODIFIER</font></td>
        </tr> </table>
      </td></tr><tr><td>
        <table><tr>
          <td class="hp">INSPIRATION<br>POINTS</td>
          <td class="border9c" width=2vw><b>1</b></td>
        </tr></table>
      </td></tr><tr><td>
        <table><tr>
          <td class="hp">HEALING<br>LIGHT</td>
          <%
          dice = $level + 1
          dice.times do |n|
          %>
          <td class=abb>&nbsp;&nbsp;&nbsp;</td>
          <% end %>
        </tr></table>
      </td></tr></table>
    </div>


    <!--
    </td><td width=33% valign=top>
    -->
    <div id=blockdiv>
      <!-- column three -->
      <table id=column3> <tr>
        <td class="hp" align="center">ATTACKS</td>
      </tr><tr>
        <td valign=top>
        <table id=warlock> <tr>
			<td class="hp6">ATTACK TYPE</td>
			<td class="hp6">TOTAL ATTACK BONUS</td>
			<td class="hp6">DAMAGE</td>
			<td class="hp6">CRITICAL</td>
            <td>&nbsp; &nbsp;&nbsp;</td>
			<td class="hp6">ATTACK TYPE</td>
			<td class="hp6">TOTAL ATTACK BONUS</td>
			<td class="hp6">DAMAGE</td>
			<td class="hp6">CRITICAL</td>
        </tr><tr>
			<td class="attack">Quarterstaff</td>
			<td class="attack"><%= $bonus_array[$str] + $proficiency[$level] %></td>
			<td class="attack">1d6 + <%= $bonus_array[$str] %> bludgeoning</td>
			<td class="attack">20</td>
            <td>&nbsp; &nbsp;&nbsp;</td>
			<td class="attack">Quarterstaff (Shillelagh)</td>
			<td class="attack"><%= $bonus_array[$cha] + $proficiency[$level] %></td>
			<td class="attack">1d8 + <%= $bonus_array[$cha] %> bludgeoning</td>
			<td class="attack">20</td>
        </tr><tr>
			<td class="attack">Shortbow  (80/320)</td>
			<td class="attack"><%= $bonus_array[$dex] + $proficiency[$level] %></td>
			<td class="attack">1d6 + <%= $bonus_array[$dex] %> piercing</td>
			<td class="attack">20</td>
            <td>&nbsp; &nbsp;&nbsp;</td>
			<td class="attack">Eldritch Blast (120')</td>
			<td class="attack"><%= $bonus_array[$cha] + $proficiency[$level] %></td>
			<td class="attack"><%= $progressive_die %>d10 force</td>
			<td class="attack">n/a</td>
        </tr><tr>
			<td class="attack">Poison Spray (10')</td>
			<td class="attack"><%= $bonus_array[$cha] + $proficiency[$level] %></td>
			<td class="attack"><%= $progressive_die %>d12 poison (CON save)</td>
			<td class="attack">n/a</td>
            <td>&nbsp; &nbsp;&nbsp;</td>
			<td class="attack">Sacred Flame (60')</td>
			<td class="attack"><%= $bonus_array[$cha] + $proficiency[$level] %></td>
			<td class="attack"><%= $progressive_die %>d8 radiant (DEX save)</td>
			<td class="attack">n/a</td>
        </tr></table>
        <td>
      </tr><tr>
        <td class="hp" align="center">WARLOCK: PACT OF THE TOME</td>
      </tr> <tr> <td valign=top>
        <table id=warlock> <tr>
            <td colspan="13" class="hp" align="center">SPELL METRICS</td>
        </tr> <tr>
            <td class="font8bot" width="15%"><%= $bonus_array[$cha] + $proficiency[$level] %></td>
            <td class="font8bot" width="2%">=</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="font8bot" width="13%"><%= $proficiency[$level] %></td>
            <td class="font8bot" width="2%">+</td>
            <td class="font8bot" width="13%"><%= $bonus_array[$cha] %></td>
            <td>&nbsp;</td>
            <td class="font8b">NUM CANTRIPS KNOWN</td>
            <td class="font8bot"><%= $warlock_cantrips_known[$level] %></td>
            <td class=font8>+3 Grimoire cantrips<br>+2 Pact of the Tome</td>
        </tr> <tr>
            <td class="font8b">SPELL<br>ATTACK<br>BONUS</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="font8b">PROFICIENCY</br>BONUS</td>
            <td>&nbsp;</td>
            <td class="font8b">CHARISMA</br>MOD</td>
            <td>&nbsp;</td>
            <td class="font8b">NUM SPELLS KNOWN</td>
            <td class="font8bot"><%= $warlock_spells_known[$level] %></td>
            <td class=font8>+Patron Expanded Spell List<br>+2 Book of Ancient Secrets rituals</td>
        </tr><tr>
            <td class="font8bot" width="15%"><%= 8 + $bonus_array[$cha] + $proficiency[$level] %></td>
            <td class="font8bot" width="2%">=</td>
            <td class="font8bot" width="13%">8</td>
            <td class="font8bot" width="2%">+</td>
            <td class="font8bot" width="13%"><%= $proficiency[$level] %></td>
            <td class="font8bot" width="2%">+</td>
            <td class="font8bot" width="13%"><%= $bonus_array[$cha] %></td>
            <td>&nbsp;</td>
            <td class="font8b">MAX SPELL LEVEL</td>
            <td class="tab" colspan=2><%= $warlock_max_spell_level[$level] %></td>
        </tr> <tr>
            <td class="font8b">SPELL<br>DC</td>
            <td>&nbsp;</td>
            <td class="font8b">BASE</td>
            <td>&nbsp;</td>
            <td class="font8b">PROFICIENCY</br>BONUS</td>
            <td>&nbsp;</td>
            <td class="font8b">CHARISMA</br>MOD</td>
            <td>&nbsp;</td>
          <td class="font8b">SPELLS<br>PER DAY (<%= $warlock_slots[$level] %>)</td>
          <td colspan=3><table padding=1vw margin=1vw><tr>
          <%
              $i = 0
              while $i < $warlock_slots[$level] do 
                $i += 1
            %>
            <%= "<td class=\"border10b\" width=2vw>&nbsp;&nbsp;&nbsp;</td>" %>
          <% end %>
          </tr></table></td>
        </tr> <tr>
            <td colspan="8" class="hp" align="center">ELDRITCH INVOCATIONS</td>
            <td colspan="8" class="hp" align="center">FEATS</td>
        </tr> <tr>
            <td colspan=8>
              <table><tr>
                <td class=font8><u>Book of Ancient Secrets</u>: Bonus Rituals: Identify, Find Familiar</td>
              </tr><tr>
                <td class=font8><u>Armor of Shadows</u>: Mage Armor at will</td>
              <% if $level >= 5 then %>
              </tr><tr>
                <td class=font8><u>Agonizing Blast</u>: Add CHA damage to Eldritch Blast</td>
              <% end %>
              </tr></table>
            </td><td class=font8>
            <% if $level >= 4 %>
                <u>Haunting Mimicry</u>: See description in the quick block above.<p>
            <% end %>
            <% if $level >= 8 %>
              <u>Morphic Body</u>: You do not possess the normal anatomy of a solid being, allowing you to shift or move vital organs out of harm's way. You gain the following benefits: Increase your Constitution score by 1, to a maximum of 20. Whenever you are hit by an attack that is a critical hit, you can use your reaction to turn the triggering attack to a normal hit.
            <% end %>
            <% if $level >= 12 %>
                INSERT FEAT 3 HERE
            <% end %>
            <% if $level >= 16 %>
                INSERT FEAT 4 HERE
            <% end %>
            <% if $level >= 20 %>
                INSERT FEAT 5 HERE
            <% end %>
            </td>
        </tr><tr>
            <td colspan="13" class="hp" align="center">QUICK REFERENCE</td>
        </tr><tr>
            <td class=name colspan=13 style="max-width: 100px;">
              <u>Quick Reference</u><ul>
                <li>Abilities: Blindsight 60 feet</li>
                <li>Advantage on: Saving throws against being blinded, deafened, exhausion, or knocked prone.</li>
                <li>Immunities: Poison and the poisoned condition.</li>
                <li>False appearance: Can hold up to <%= $bonus_array[$int] %> false appearances.</li>
                <li>Mnemonic Echoes: Can gain skill proficiency, tool proficiency, or fluency from each creature consumed.</li>
                <li>Healing Light: Have a pool of <%= $level + 1 %> d6 dice.  As bonus action, can choose a number of dice from the pool and use them to heal creatures I can see within 60 feet.</li>
              </ul>
            </td>
          </tr>
        </table>
      </td></tr></table>
    </div>
</div>

<div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="bio"></a>

<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>BIOGRAPHY</div>

How long did I exist before?  I do not know; I cared little for the passage of
time.  But the moment that I touched that book, is the moment that I count my
time from.  I was what you call a "gelatinous cube".  It is a terribly incorrect
term, but do not worry that you have offended me; my people care nothing for
names.
  <p>

I was as I had always been, sliding along the corridors of the dungeon where I
made my abode, when I touched it.  It.  The book.  I felt it's leathery cover
and paper pages caress my edge, and suddenly I felt a new awareness, as though
something new had entered the room coming through a door inside my being.  A
door that I did not even knew existed had suddenly become a portal, and that
which came through addressed me.  It seemed humanoid, yet wreathed in a fire
that did not burn or heat the stone.
  <p>

"Oh dear, it looks like Sir Valeric won't be able to help me any more" it said.
  <p>

I felt the thoughts of the creature, and knew it's name was Raziel, that it is
a great Angel of Good, a Solar.  It seemed to be indicating the bones dissolving
inside me, belonging to the carcass of some unfortunate meat stick that had met
it's demise.  Raziel seemed ready to disappear, and suddenly I felt a strong
desire for it to stay, stronger even than the Hunger.  I made my surface vibrate
to imitate the sound Raziel had made, and said, "Wait, stay.  I help."
  <p>

I do not know what transpired at that point, only that Raziel stopped all
motion - even breathing - for a full 98 seconds (we can attend to the passage of
time if we wish).  Perhaps it was surprised, or perhaps it was communicating
with some other associate in a way I could not percieve.  After the long pause,
Raziel said, "Never have I had an offer from one such as you.  Why would you
want to help?"
  <p>

"You... show... new... way... different... never... seen... before..."
  <p>

Again, silence.  And then a sudden, resolute action. "Very well," said Raziel,
"It is a deal.  You are mine, and you will work toward the good of all
thinking creatures.  I share my power with you, that you may be my agent, and I
your patron.  This pact is a sacred bond that links us now."
  <p>

That is how I came to leave the dungeon, and learn to take the irregular, lumpy
forms of the solids.  I walk among them, seeking those that would kill or use
dark powers of undeath.  They are Raziel's enemies, and so they are mine.  I
seek to infiltrate their ranks, discover their power, and through sudden swift
action be the instrument of my lord's just retribution.  
  <p>

Raziel showed me the world, a world beyond just the darkness and the Hunger, a
world that still seems fresh and new to me.  For that alone I would always be
devouted.
  <p>

<div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="cantrips"></a>

<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>CANTRIPS</div>
    <div class="spellslist">
      <% if $level >= 4 %>
        <div class="spell">
            <b>Chill Touch</b> (evocation) 
            <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: 1 round</li>
              <li>Components: V, S</li>
              <li>Range: 120 feet</li>
              <li>Origin: Warlock</li>
            </ul>
            Description: You create a ghostly, skeletal hand in the space of a creature within range. Make a ranged spell attack against the creature to assail it with the chill of the grave. On a hit, the target takes 1d8 necrotic damage, and it can't regain hit points until the start of your next turn. Until then, the hand clings to the target. If you hit an undead target, it also has disadvantage on attack rolls against you until the end of your next turn. This spell's damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).
            Reference: PHB p.221
        </div>
        <% end %>
        <div class="spell">
            <b>Eldritch Blast</b> (evocation) 
            <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: 120 feet</li>
               <li>Origin: Warlock</li>
            </ul>
            Description: A beam of crackling energy streaks towards a creature within range.  On a hit, the target takes 1d10 force damage. The spell creates more than one beam when you reach higher levels: two beams at 5th level, three beams at 11th level, and four beams at 17th level. You can direct the beams at the same target or at different ones. Make a separate attack roll for each beam. 
            Reference: PHB p.237
        </div>
        <div class="spell">
          <b>Light</b> (evocation)
          <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: 1 hour</li>
              <li>Components: V, M</li>
              <li>Range: Touch</li>
              <li>Origin: Patron Bonus</li>
            </ul>
            Description: You touch one object that is no larger than 10 feet in any dimension. Until the spell ends, the object sheds bright light in a 20-foot radius and dim light for an additional 20 feet. The light can be colored as you like. Completely covering the object with something opaque blocks the light. The spell ends if you cast it again or dismiss it as an action. If you target an object held or worn by a hostile creature, that creature must succeed on a Dexterity saving throw to avoid the spell.
            Reference: PHB p.255 
        </div>
        <div class="spell">
          <b>Message</b> (transmutation)
          <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: 1 round</li>
              <li>Components: V, S, M</li>
              <li>Range: 120 feet</li>
              <li>Origin: Pact of the Tome Bonus</li>
            </ul>
            Description: You point your finger toward a creature within range and whisper a message. The target (and only the target) hears the message and can reply in a whisper that only you can hear.
You can cast this spell through solid objects if you are familiar with the target and know it is beyond the barrier. Magical silence. 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood blocks the spell. The spell doesn't have to follow a straight line and can travel freely around corners or through openings.
            Reference: PHB p.259 
        </div>
        <div class="spell">
          <b>Poison Spray</b> (conjuration)
          <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: 10 feet</li>
              <li>Origin: Warlock</li>
            </ul>
            Description: You extend your hand toward a creature you can see within range and project a puff of noxious gas from your palm.  The creature must succeed on a Constitution saving throw or take 1d12 poison damage. This spell's damage increases by 1d12 when you reach 5th level (2d12), 11th level (3d12), and 17th level (4d12).
            Reference: PHB p.266
        </div>
        <div class="spell">
          <b>Sacred Flame</b> (evocation)
          <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: 60 feet</li>
              <li>Origin: Patron Bonus</li>
            </ul>
            Description: Flame-like radiance descends on a creature that you can see within range. The target must succeed on a Dexterity saving throw or take 1d8 radiant damage. The target gains no benefit from cover for this saving throw. The spell's damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).
            Reference: PHB p.272 
        </div>
        <div class="spell">
          <b>Shillelagh</b> (transmutation)
          <ul>
              <li>Casting Time: 1 bonus action</li>
              <li>Duration: 1 minute</li>
              <li>Components: V, S, M</li>
              <li>Range: Touch</li>
              <li>Origin: Pact of the Tome Bonus</li>
            </ul>
            Description: The wood of a club or quarterstaff you are holding is imbued with nature's power. For the duration, you can use your spellcasting ability instead of Strength for the attack and damage rolls of melee attacks using that weapon, and the weapon's damage die becomes a d8. The weapon also becomes magical, if it isn't already. The spell ends if you cast it again or if you let go of the weapon.
            Reference: PHB p.275 
        </div>
        <div class="spell">
          <b>Spare the Dying</b> (necromancy)
          <ul>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: Touch</li>
              <li>Origin: Pact of the Tome Bonus</li>
            </ul>
            Description: You touch a living creature that has 0 hit points. The creature becomes stable. This spell has no effect on undead or constructs.
            Reference: PHB p.277 
        </div>
    </div>
    <div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="spells"></a>

<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>SPELLS</div>
    <div class="spellslist">
        <div class="spell">
          <b>Cure Wounds</b><ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: Touch</li>
              <li>Origin: Patron Bonus</li>
          </ul>
          Description: A creature you touch regains a number of hit points equal to 1d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.  When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d8 for each slot level above 1st. 
          Reference: PHB p.230 
        </div>
        <div class="spell">
          <b>Expeditious Retreat</b>
          <ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 bonus action</li>
              <li>Duration: Concentration, up to 10 minutes</li>
              <li>Components: V, S</li>
              <li>Range: Self</li>
              <li>Origin: Warlock</li>
          </ul>
          Description: This spell allows you to move at an incredible pace. When you cast this spell, and then as a bonus action on each of your turns until the spell ends, you can take the Dash action.
          Reference: PHB p. 238
        </div>
        <div class="spell">
          <b>Find Familiar</b> (ritual-only)<ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 hour</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S, M (10gp worth of charcoal, incense, and herbs that must be consumed by fire in a brass brazier)</li>
              <li>Range: 10 feet</li>
              <li>Origin: Book of Ancient Secrets Ritual</li>
          </ul>
          Description: See Familiar Rules, in the familiar section below. 
          Reference: PHB p.240 
        </div>
        <div class="spell">
          <b>Flaming Sphere</b><ul>
              <li>Spell Level: 2</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Concentration, up to 1 minute</li>
              <li>Components: V, S, M</li>
              <li>Range: 60 feet</li>
              <li>Origin: Patron Bonus</li>
          </ul>
          Description: A 5-foot-diameter sphere of fire appears in an unoccupied space of your choice within range and lasts for the duration. Any creature that ends its turn within 5 feet of the sphere must make a Dexterity saving throw. The creature takes 2d6 fire damage on a failed save, or half as much damage on a successful one. As a bonus action, you can move the sphere up to 30 feet. If you ram the sphere into a creature, that creature must make the saving throw against the sphere's damage, and the sphere stops moving this turn. When you move the sphere. you can direct it over barriers up to 5 feet tall and jump it across pits up to 10 feet wide. The sphere ignites flammable objects not being worn or carried, and it sheds bright light in a 20-foot radius and dim light for an additional 20 feet.
          Reference: PHB p.242 
        </div>
        <div class="spell">
          <b>Guiding Bolt</b><ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: 1 round</li>
              <li>Components: V, S</li>
              <li>Range: 120 feet</li>
              <li>Origin: Patron Bonus</li>
          </ul>
          Description: A flash of light streaks toward a creature of your choice within range. Make a ranged spell attack against the target. On a hit, the target takes 4d6 radiant damage, and the next attack roll made against this target before the end of your next turn has advantage, thanks to the mystical dim light glittering on the target until then. When you cast this spell using a spell slot of 2nd level or higher, the damage increases by Id6 for each slot level above 1st.
          Reference: PHB p.248 
        </div>
      <% if $level >= 4 %>
        <div class="spell">
          <b>Hold Person</b>
          <ul>
              <li>Spell Level: 2</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Concentration, up to 1 minute</li>
              <li>Components: V, S, M</li>
              <li>Range: 60 feet</li>
              <li>Origin: Warlock</li>
          </ul>
          Description: Choose a humanoid that you can see within range. The target must succeed on a Wisdom saving throw or be paralyzed for the duration. At the end of each of its turns, the target can make another Wisdom saving throw. On a success, the spell ends on the target. At Higher Levels, when you cast this spell using a spell slot of 3rd level or higher, you can target one additional humanoid for each slot level above 2nd. The humanoids must be within 30 feet of each other when you target them.
          Reference: PHB p. 238
        </div>
      <% end %>
        <div class="spell">
          <b>Identify</b> (ritual only)<ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 minute</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S, M (a pearl worth at least 100gp and an owl feather)</li>
              <li>Range: Touch</li>
              <li>Origin: Book of Ancient Secrets Ritual</li>
          </ul>
          Description: You choose one object that you must touch throughout the casting of the spell.  If it is a magic item or some other magic-imbued objest, you learn its properties and how to use them, whether it requires attunement to use, and how many charges it has, if any.  You learn whether any spells are affecting the item and what they are.  If the item was created by a spell, you learn which spell created it.  If you instead touch a creature throughout the vasting, you learn what spells, if any, are currently affecting it.
          Reference: PHB p.252 
        </div>
        <div class="spell">
          <b>Invisibility</b><ul>
              <li>Spell Level: 2</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Concentration, up to 1 hour</li>
              <li>Components: V, S, M</li>
              <li>Range: Touch</li>
              <li>Origin: Warlock</li>
          </ul>
          Description: A creature you touch becomes invisible until the spell ends. Anything the target is wearing or carrying is invisible as long as it is on the target's person. The spell ends for a target that attacks or casts a spell. When you cast this spell using a spell slot of 3rd level or higher, you can target one additional creature for each slot level above 2nd.
          Reference: PHB p.254 
        </div>
        <div class="spell">
          <b>Lesser Restoration</b><ul>
              <li>Spell Level: 2</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S</li>
              <li>Range: Touch</li>
              <li>Origin: Patron Bonus</li>
          </ul>
          Description: You touch a creature and can end either one disease or one condition afflicting it. The condition can be blinded, deafened, paralyzed, or poisoned.
          Reference: PHB p.255 
        </div>
        <div class="spell">
          <b>Mage Armor</b><ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: 8 hours</li>
              <li>Components: V, S, M</li>
              <li>Range: Touch</li>
              <li>Origin: Eldritch Invocation</li>
          </ul>
          Description: You touch a willing creature who isn't wearing armor, and a protective magical force surrounds it until the spell ends. The target's base AC becomes 13 + its Dexterity modifier. The spell ends if the target dons armor or if you dismiss the spelt as an action.
          Reference: PHB p.256 
        </div>
        <div class="spell">
          <b>Shatter</b><ul>
              <li>Spell Level: 2</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Instantaneous</li>
              <li>Components: V, S, M</li>
              <li>Range: 60 feet</li>
              <li>Origin: Warlock</li>
          </ul>
          Description: A sudden loud ringing noise, painfully intense, erupts from a point of your choice within range. Each creature in a 10-foot-radius sphere centered on that point must make a Constitution saving throw. A creature takes 3d8 thunder damage on a failed save, or half as much damage on a successful one. A creature made of inorganic material such as stone, crystal, or metal has disadvantage on this saving throw. A non magical object that isn't being worn or carried also takes the damage if it's in the spell's area.  When you cast this spell using a spell slot of 3rd level or higher, the damage increases by 1d8 for each slot level above 2nd.
          Reference: PHB p.275 
        </div>
        <div class="spell">
          <b>Witch Bolt</b>
          <ul>
              <li>Spell Level: 1</li>
              <li>Casting Time: 1 action</li>
              <li>Duration: Concentration, up to 1 minute</li>
              <li>Components: V, S, M</li>
              <li>Range: 30 feet</li>
              <li>Origin: Warlock</li>
          </ul>
          Description: A beam of crackling, blue energy lances out toward a creature within range, forming a sustained arc of lightning between you and the target. Make a ranged spell attack against that creature. On a hit, the target takes 1d12 lightning damage, and on each of your turns for the duration, you can use your action to deal 1d12 lightning damage to the target automatically. The spell ends if you use your action to do anything else. The spell also ends if the target is ever outside the spell's range or if it has total cover from you. When you cast this spell using a spell slot of 2nd level or higher, the initial damage increases by 1d12 for each slot level above 1st.
              Reference: PHB p. 289
        </div>
    </div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="familiar"></a>
<div id=newblock>
<div id=borderblock>&nbsp;</div>
<div class="hp" width=100%>Familiar</div>

<font id=name>Owl, "Skymeat"</font><br>
<i>Tiny beast, unaligned</i>
<p>
<hr>
<b>Armor Class</b>: 11<br>
<b>Hit Points</b>: 1 (1d4-1)<br>
<b>Speed</b>: 5 feet, fly 60 feet
<p>
<hr>

<center>
<table id=statblock> <tr>
<td><b>STR</b></td>
<td>&nbsp;</td>
<td><b>DEX</b></td>
<td>&nbsp;</td>
<td><b>CON</b></td>
<td>&nbsp;</td>
<td><b>INT</b></td>
<td>&nbsp;</td>
<td><b>WIS</b></td>
<td>&nbsp;</td>
<td><b>CHA</b></td>
</tr><tr>
<td>3 (-4)</td>
<td>&nbsp;</td>
<td>13 (+1)</td>
<td>&nbsp;</td>
<td>8 (-1)</td>
<td>&nbsp;</td>
<td>2 (-4)</td>
<td>&nbsp;</td>
<td>12 (+1)</td>
<td>&nbsp;</td>
<td>7 (-2)</td>
</tr></table>
</center>
<p>
<hr>
<b>Skills</b>: Perception +3, Stealth +3<br>
<b>Senses</b>: Darkvision 120', passive perception 13<br>
<b>Languages</b>: -- <br>
<p>
<hr>
<b>Flyby</b>: The owl provokes no opportunity attacks when it flies out of an enemy's reach.<p>
<b>Keen Sight</b>:  The owl has advantage on Wisdom (Perception) checks that rely on sight.<p>
<b>Attacks</b>: Talons. Melee Weapon Attack: +3 to hit, reach 5 ft., one target. Hit: 1 slashing damage. <p>

<div class="hp" width=100%>FAMILIAR RULES</div>

You gain the service of a familiar, a spirit that takes an animal form you choose: bat, cat, crab, frog (toad), hawk, lizard, octopus, owl, poisonous snake, fish (quipper), rat, raven, sea horse, spider, or weasel. Appearing in
an unoccupied space within range, the familiar has the statistics of the chosen form, though it is a celestial, fey, or fiend (your choice) instead of a beast. <p>
Your familiar acts independently of you, but it always obeys your commands. In combat, it rolls its own initiative and acts on its own turn. A familiar can't attack, but it can take other actions as normal. <p>
When the familiar drops to 0 hit points, it disappears, leaving behind no physical form. It reappears after you cast this spell again <p>
While your familiar is within 100 feet of you, you can communicate with it telepathically. Additionally, as an action, you can see through your familiar's eyes and hear what it hears until the start of your next turn. gaining the benefits of any special senses that the familiar has. During this time, you are deaf and blind with regard to your own senses. <p>
As an action, you can temporarily dismiss your familiar. It disappears into a pocket dimension where it awaits your summons. Alternatively, you can dismiss it forever. As an action while it is temporarily dismissed,
you can cause it to reappear in any unoccupied space within 30 feet of you. <p>
You can't have more than one familiar at a time. If you cast this spell while you already have a familiar, you instead cause it to adopt a new form. Choose one of the forms from the above list. Your familiar transforms into the chosen creature. <p>
Finally, when you cast a spell with a range of touch, your familiar can deliver the spell as if it had cast the spell. Your familiar must be within 100 feet of you, and it must use its reaction to deliver the spell when you cast it. If the spell requires an attack roll, you use your attack modifier for the roll. <p>

    <div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="aliases"></a>
         
<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>ABSORBED IDENTITIES (<%= $bonus_array[$int] %>)</div>
    <div id=quickblock>
      <div id=quickcolumn>
        Hapax Legomenon, human explorer.  He came at me in the fog on the way to Barovia, driven insane by it, and attacked me.
        <img src=hapax_legomenon.jpg style="height: 45vh;">
      </div>
      <div id=quickcolumn>
      </div>
    </div>
    <div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="inventory"></a>

<!--
 Inventory fields are cost in gp, weight in pounds, and (optionally) quantity.
 Weight is per-item.  Weights of zero wll be displayed as "-".
  -->
         
<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>INVENTORY</div>
    <table>
      <tr>
        <td class=ab>Item Name</td>
        <td class=ab>Cost</td>
        <td class=ab>Weight</td>
        <td class=ab>Quantity</td>
        <td class=ab>Net Cost</td>
        <td class=ab>Net Weight</td>
      </tr>
    <%
    total_cost = 0
    total_weight = 0
    $inventory.keys.each do |item_name|
      item = $inventory[item_name]
      cost = item[0]
      weight = item[1]
      quantity = item[2].nil? ? 1 : item[2]
      realcost = cost * quantity
      realweight = weight * quantity
      total_cost += realcost
      total_weight += realweight
      %>
    <tr>
      <td class=font8bot><%= item_name %></td>
      <td class=font8bot><%= cost %></td>
      <td class=font8bot><%= weight %></td>
      <td class=font8bot><%= quantity %></td>
      <td class=font8bot><%= realcost %></td>
      <td class=font8bot><%= realweight %></td>
    </tr>
    <% end %>
    </table>
    <p><b>Totals</b><br>
    Total value of posessions: <%= total_cost %><br>
    Total weight of posessions: <%= total_weight %><br>
    Max carrying capacity: <%= $str * 15 %><br>
    <div>
    </div>
    <div id=borderblock>&nbsp;</div>
</div>

<!-- ================================================================ -->
<hr><br style="page-break-after: always">
<a name="notes"></a>
         
<div id=newblock>
    <div id=borderblock>&nbsp;</div>
    <div class="hp" width=100%>PLAYER NOTES</div>
    <h4>Chaarcter Build Notes</h4>
    <ul>
      <li>Mnemonic Echoes Added Proficiencies<ul>
          <li><u>Skill Proficiency</u>: Survival (Hapax Legomenon)</li>
          <li><u>Tool Proficiency</u>: </li>
          <li><u>Language Fluency</u>: </li>
        </ul></li>
      <li>Juiblexian bonus language: Celestial</li>
      <li>Warlock Pact of the Tome with a Celestial Patron</li>
      <li><b>Quirks</b>: I took 6 of the Juiblexian quirks that I could see using; roll 1d6 when in a situation to be quirky.<ul>
          <li>[1] You don't understand emotions and often misread emotional cues.</li>
          <li>[2] You always feel hungry and often start grabbing the nearest edible source of nourishment.</li>
          <li>[3] You learned about the world by devouring it, you sometimes take objects and ingest them to learn about it.</li>
          <li>[4] You always have an anacedotal tale about your times in your original ooze form. </li>
          <li>[5] You find talking tiresome and sometimes revert back to talking using vibrations through your ooze-like surface. </li>
          <li>[6] Your are curious about the rituals of the solids and obsess on learning about them.</li>
        </ul></li>
    </ul>
    <h4>Sayings</h4>
    <ul>
        <li>"A watched human never boils"</li>
    </ul>
    <h4>Level Breakdown</h4>
    <ul>
        <!-- NOTE: Also update in preamble -->
        <li>Level 1 (Warlock 1): +8 hp 
        <li>Level 2 (Warlock 2): +8 hp 
        <li>Level 3 (Warlock 3): +5 hp
        <li>Level 4 (Warlock 4): +? hp; Feat: Haunting Mimicry (+1 CHA)
    </ul>
    <hr>
    <h4>Initial Shopping List</h4>
    <ul>
    </ul>

    <h4>Reference</h4>
    <ul>
      <li><a href="http://chicken-dinner.com/5e/5e-point-buy.html#customrace&NA&10&13&10&12&13&15&0&0&27&15&8&19&15&12&9&7&5&4&3&2&1&0&1&2&4&6&9&4&4&6&4&4&5">Original point buy calculator for stats</a></li>
      <li><a href="https://natejohnston.info/ucalegon/diary.html">Ucalegon's Diary</a>
      <li><a href="https://natejohnston.info/dnd/<%= $race.downcase %>.html">Race: <%= $race %></a>
      <% $class_level.keys.each do |class_name| %>
      <li><a href="https://natejohnston.info/dnd/<%= class_name.downcase %>.html">Class: <%= class_name %></a>
      <% end %>
      <li><a href="https://natejohnston.info/dnd/warlock-celestial.html">Subclass: Celestial Patron</a>
      <li><a href="https://natejohnston.info/dnd/background-<%= $background.downcase %>.html">Background: <%= $background  %></a>
    </ul>
    <div id=borderblock>&nbsp;</div>
</div>

</body>
</html>
